# {{ name }} CLI Tool

Welcome to {{ name }}, a user-friendly CLI tool for interacting with AI services, featuring a powerful command and plugin system!

## Contents

1. [Setup](#setup)
2. [Usage](#usage)
3. [Plugins](#plugins)
    {% for plugin in plugins %}
    - [{{ plugin.name }}](#{{ plugin.name }})
    {% endfor %}
4. [Contributor Guidelines](#contributor-guidelines)
5. [Licenses and Legal](#licenses-and-legal)

## Setup

### Requirements

{{ requirements or '_no requirements specified_' }}

### Installation

{{ installation or '_no installation instructions specified_' }}

## Usage

{{ usage or '_no usage guide specified_' }}

## Plugins

{% for plugin in plugins %}
### {{ plugin.name }}

{{plugin.description}}

_Usage:_ `{{binary_name}} {{plugin.name|lower}} <command> [arguments] [options]`

#### Commands

{% for command in plugin.commands %}
**{{ command.name }}** {{ command.description }}

_Usage:_ `{{binary_name}} {{plugin.name|lower}} {{command.name}}{{ " <arguments>" if command.get('arguments') else "" }}{{ " [options]" if command.get('options') else "" }}`

{% if command.get('arguments') %}

##### Arguments

{% for argument in command.arguments %}
`{{ argument.name }}` ({{ argument.type }}) {{ "(Required)" if argument.get('required', False) else "" }} {{ "(Multiple allowed)" if argument.get('allow_multiple', False) else "" }}: {{ argument.description }}
{% if argument.format +%}
_Format:_ `{{ argument.format }}`
{% endif %}
{% if argument.allowed +%}
_Allowed Values:_ `{{ argument.allowed | join(', ') if argument.get('allowed') else '' }}`
{% endif %}
{% endfor %}
{% endif %}


{% if command.get('options') %}

##### Options

{% for option in command.options %}
`{{ option.name }}` ({{ option.type }}) {{ "(Default: " + option.get('default', '') + ")" if option.get('default', '') else "" }} {{ "(Required)" if option.get('required', False) else "" }} {{ "(Multiple allowed)" if option.get('allow_multiple', False) else "" }}: {{ option.description }}
{% if option.format +%}
_Format:_ `{{ option.format }}`
{% endif %}
{% if option.allowed +%}
_Allowed Values:_ `{{ option.allowed | join(', ') if option.get('allowed') else '' }}`
{% endif %}
{% endfor %}
{% endif %}

{% if command.get('examples') %}

##### Examples

{% for example in command.examples %}
_{{ example.description }}_
```bash
{{ example.command }}
```
{% endfor %}
{% endif %}

{{ "---" if not loop.last else "" }}

{% endfor %}
{% endfor %}

## Contributor Guidelines

{{ contributor_guidelines }}

## Licenses and Legal

{{ licenses_and_legal }}
