# {{ name }} CLI Tool

Welcome to {{ name }}, a user-friendly CLI tool for interacting with AI services, featuring a powerful command and plugin system!

## Contents

1. [Setup](#setup)
2. [Usage](#usage)
3. [Commands](#commands)
3. [References](#references)

## Setup

### Requirements

{{ requirements or '_no requirements specified_' }}

### Installation

{{ installation or '_no installation instructions specified_' }}

## Usage

{{ usage or '_no usage guide specified_' }}

## Commands

{% for plugin in plugins %}
### {{ plugin.name }}

{{plugin.description}}

_Usage:_ `{{binary_name}} {{plugin.name|lower}} <command> [arguments] [options]`

#### Commands

{% for command in plugin.commands %}
**{{ command.name }}** {{ command.description }}

_Usage:_ `{{binary_name}} {{plugin.name|lower}} {{command.name}}{{ " <arguments>" if command.get('arguments') else "" }}{{ " [options]" if command.get('options') else "" }}`

##### Arguments

{% if command.get('arguments') %}
{% for argument in command.arguments %}
`{{ argument.name }}` {% if argument.type +%}({{ argument.type }}){% endif %}{{ "(Required)" if argument.get('required', False) else "" }} {{ "(Multiple allowed)" if argument.get('allow_multiple', False) else "" }}: {{ argument.description }}
{% if argument.format +%}
_Format:_ {{ argument.format }}[^format-filepath]
{% endif %}
{% if argument.allowed +%}
_Allowed Values:_ `{{ argument.allowed | join(', ') if argument.get('allowed') else '' }}`
{% endif %}
{% endfor %}
{% else %}
None
{% endif %}


##### Options

{% if command.get('options') %}
{% for option in command.options %}
`{{ option.name }}`{% if option.type +%} ({{ option.type }}){% endif %} {{ "(Default: " + option.get('default', '') + ")" if option.get('default', '') else "" }} {{ "(Required)" if option.get('required', False) else "" }} {{ "(Multiple allowed)" if option.get('allow_multiple', False) else "" }}: {{ option.description }}
{% if option.format +%}
_Format:_ {{ option.format }}
{% endif %}
{% if option.allowed +%}
_Allowed Values:_ `{{ option.allowed | join(', ') if option.get('allowed') else '' }}`
{% endif %}
{% endfor %}
{% else %}
None
{% endif %}

{% if command.get('examples') %}

##### Examples

{% for example in command.examples %}
_{{ example.description }}_
```bash
{{ example.example }}
```
{% endfor %}
{% endif %}

{{ "---" if not loop.last else "" }}

{% endfor %}
{% endfor %}

## Contributor Guidelines

{{ contributor_guidelines }}

## Licenses and Legal

{{ licenses_and_legal }}

## References

### Formats

| Format  | Definition | Examples |
| ------------- | ------------- | ------------- |
| `filepath`  | A valid Mac, Linux, or Windows filepath  | `./some/directory/`, `/home/user/file.txt` |
