# {{ name }} CLI Tool

Welcome to {{ name }}, a user-friendly CLI tool for interacting with AI services, featuring a powerful command and plugin system!

## Contents

1. [Setup](#setup)
2. [Usage](#usage)
3. [Plugins](#plugins)
    {% for plugin in plugins %}
    - [{{ plugin.name }}](#{{ plugin.name }})
    {% endfor %}
4. [Contributor Guidelines](#contributor-guidelines)
5. [Licenses and Legal](#licenses-and-legal)

## Setup

### Requirements

{{ requirements or '_no requirements specified_' }}

### Installation

{{ installation or '_no installation instructions specified_' }}

## Usage

{{ usage or '_no usage guide specified_' }}

## Plugins

{% for plugin in plugins %}
### {{ plugin.name }}

_Usage:_ `{{binary_name}} {{plugin.name|lower}} <command> [arguments] [options]`

{% for command in plugin.commands %}
**{{ command.name }}** {{ command.description }}

_Usage:_ `{{binary_name}} {{plugin.name|lower}} {{command.name}} {{ " <arguments>" if command.get('arguments') else "" }}{{ " [options]" if command.get('options') else "" }}`

{% if command.get('arguments') %}

#### Arguments

{% for argument in command.arguments %}
`{{ argument.name }}` {{ "(Required)" if argument.get('required', False) else "" }}: {{ argument.description }}
{% endfor %}
{% endif %}

{% if command.get('options') %}

#### Options

{% for option in command.options %}
`{{ option.name }}` {{ "(Default: " + option.get('default', '') + ")" if option.get('default', '') else "" }}: {{ option.description }}
{% endfor %}
{% endif %}

#### Examples

{% if command.get('examples') %}
{% for example in command.examples %}
_{{ example.description }}_
```bash
{{ example.command }}
```
{% endfor %}
{% endif %}

{% endfor %}
{% endfor %}

## Contributor Guidelines

{{ contributor_guidelines }}

## Licenses and Legal

{{ licenses_and_legal }}
